<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <title>Área do Produtor</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
  <div class="container">
    <h2>Painel do Produtor</h2>
    <ul>
    </ul>
    <button onclick="alert('Função de relatório em desenvolvimento')">Ver Relatório</button>
    <button onclick="alert('Função de mapa em desenvolvimento')" style="margin-top: 1rem;">Ver Mapa</button>
    <p style="text-align: center; margin-top: 1rem;">
        <a href="/logout">Encerrar Sessão</a>
    </p>
  </div>
</body>
</html>

