<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <title>Área do Mosaiqueiro</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
  <div class="container">
    <h2>Painel do Mosaiqueiro</h2>
    <button onclick="alert('Abrir mapa de calor (em breve)')">Visualizar Mapa</button>
    <p style="text-align: center; margin-top: 1rem;">
        <a href="/logout">Encerrar Sessão</a>
    </p>
  </div>
</body>
</html>

